@import 'variables';

html,
body {
  overflow-x: hidden;
}

img {
  display: inline-block;
}
a,
button {
  cursor: pointer;
}

#app {
  height: 100%;
}

.block-spacing {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

// .modal {
//   background: rgba(0, 0, 0, 0.5);
// }
// .modal-backdrop {
//   display: none;
// }
