html,
body {
  height: 100%;
  overflow-x: hidden;
  // color:$dark;
}

img {
  display: block;
}
a,
button {
  cursor: pointer;
}

#app {
  height: 100%;
}
#front {
  background-color: $light-gray;
}
#dashboard {
  background-color: $light;
}
