$bg-spacer: 3rem;

.logo {
  &--sm {
    width: 120px;
    height: 36px;
  }
}

.title-icon {
  &--semicircle {
    width: 120px;
    height: 60px;
  }
  &--circle {
    width: 120px;
    height: 120px;
  }
}

.brand {
  &__img {
    @include img-replace-text;
  }
  &--sm {
    width: 120px;
    height: 36px;
  }
  &--lg {
    width: 240px;
    height: 72px;
  }
}
