@import 'mixin';

$bg-spacer: 3rem;

.logo {
  &--sm {
    width: 120px;
    height: 36px;
  }
}

.brand {
  &__img {
    @include img-replace-text;
  }
  &--sm {
    width: 120px;
    height: 36px;
  }
  &--lg {
    width: 240px;
    height: 72px;
  }
}
