@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'utilities';
@import '~bootstrap/scss/utilities/api';

@import '_buttons.scss';
@import '_mixin.scss';
@import '_image.scss';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'material-icons/iconfont/material-icons.css';

html,
body {
  height: 100%;
  overflow-x: hidden;
}

img {
  display: block;
}
a,
button {
  cursor: pointer;
}

#app {
  height: 100%;
}
